<div class="mt-4">
    <form>
        <div class="mb-3">
            <label for="search-input" class="form-label">Tu khoa</label>
            <input type="text" name="q" class="form-control" id="search-input" placeholder="Tim kiem">
        </div>

        <div class="mb-3">
            <label for="search-input" class="form-label">Tu khoa</label>
            <select type="text" name="gender" class="form-control" id="search-input" >
                <option value="">--- Chon gioi tinh ---</option>
                <option value="male">Nam</option>
                <option value="female">Nu</option>
            </select>
        </div>
        
        <button type="submit" class="btn btn-primary">Tim kiem</button>
    </form>
</div>